{% load staticfiles %}
<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8" />

     <link rel="icon" href="{% static "images/contract.png" %}" type="image/x-icon"></link>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Brio Contract Management System</title>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"   crossorigin="anonymous">

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static "css/signin.css" %}" />

    <link rel="stylesheet" href="{% static "css/contractsystem.css" %}" />

    <!--<link rel="stylesheet" href="{% static "css/angular-toastr.min.css" %}" />-->

    <!--<link rel="stylesheet" href="{% static "css/angular-clock.css" %}">-->

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"  crossorigin="anonymous"></script>

    <!--<script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/angular-route.js" %}"></script>
    <script src="{% static "js/angular-animate.js" %}"></script>
    <script src="{% static "js/angular-clock.js" %}"></script>-->
     <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="{% static "js/angular-chart.js" %}"></script>-->
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <!--<script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/controller.js" %}"></script>-->

</head>

<body>
    <!--font-family: 'Work Sans', sans-serif;   style="opacity: 1; background-size: 1581px 780px; "-->
    <!-- background-image: url('https://www.bing.com/az/hprichbg/rb/KarnatakaFormationDay_EN-IN10554914275_1366x768.jpg');  -->
    <div class="wrapper" >
        <div class="navbar navbar-fixed-top">
            <div class="col-md-2 text-center">
                <!-- <img class="logo"    alt="logo" src="{% static "images/logo.png" %}" style="width:100px;height:40px; margin-top:8px; margin-bottom:4px;" > -->
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-5"></div>
        </div>
        <br><br><br><br><br> {% block content %} {{ content }} {% endblock %}
    </div>
   <!--  <footer class=" footer text-right">
        <p>&copy; 2016 - Brio Contract Management System</p>
    </footer> -->
</body>

</html>